<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<appSettings>
		<!-- Api -->
		<add key="ApiUrl" value="https://integrateapi.integration.mixtelematics.com"/>
		<!-- IdentityServer -->
		<add key="IdentityServerBaseAddress" value="https://identityapi.integration.mixtelematics.com/core"/>
		<add key="IdentityServerClientId" value="mix.automation.api"/>
		<add key="IdentityServerClientSecret" value="f8Rdz1fbvTCLkwJf"/>
		<add key="IdentityServerScopes" value="offline_access MiX.Integrate"/>
		<add key="IdentityServerUserName" value="shakedown.fleet@mailinator.com"/>
		<add key="IdentityServerPassword" value="shakedownfleet123"/>
	</appSettings>
</configuration>